body {
  font-family: var(--body-font);
}

.input-group {
  border-radius: 2px;
  box-shadow: 0 0 2px 2px var(--main-color);
}

#find-subject-form .form-control {
  background-color: #16171e;
  color: var(--main-color);
  border-color: var(--main-color);
  border-radius: 2px;
}

#find-subject-form .btn {
  background-color: var(--main-color);
  color: #16171e;
  border-color: var(--main-color);
  border-radius: 2px;
}

#find-subject-form .search-bar {
  width: 400px;
}
