body {
  font-family: var(--body-font);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group {
  border-radius: 2px;
  box-shadow: 0 0 2px 2px var(--main-color);
}
