@font-face {
  font-family: "Aurebesh-English";
  src: url("./Fonts/Aurebesh-English.ttf") format("truetype");
}

@font-face {
  font-family: "Anakin Mono";
  src: url("./Fonts/anakinmono.ttf") format("truetype");
}

:root {
  --title-font: "Aurebesh-English", sans-serif;
  --body-font: "Anakin Mono", monospace;
  --highlight-color: #f7cd08;
  --text-color: #ffffff;
}

.App {
  background-color: #62616c;
}

.container {
  background-color: #16171e;
}

.container :is(h1, h3) {
  text-align: center;
  font-family: var(--title-font);
}

.container h1 {
  color: var(--highlight-color);
}

.container h3 {
  color: var(--text-color);
}
